body {
    background-color: rgb(235, 188, 135);
}


.hero-section {
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
}
.hero-text {
    text-align: center;
}
.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.btn-custom {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}
.btn-custom:hover {
    background-color: #218838;
    color: white;
}

/* la recherche  */
.search-section {
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa;
  }

  .search-section h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .search-bar {
    max-width: 600px;
    margin: 0 auto;
  }




 


  .recipe-card {
    margin-bottom: 20px;
}
.recipe-img {
    max-width: 100%;
    height: auto;
}