:where([class^="ri-"])::before { content: "\f3c2"; }
.filter-section::-webkit-scrollbar {
width: 4px;
}
.filter-section::-webkit-scrollbar-track {
background: #f1f1f1;
}
.filter-section::-webkit-scrollbar-thumb {
background: #ddd;
border-radius: 4px;
}
.filter-section::-webkit-scrollbar-thumb:hover {
background: #ccc;
}