{% extends 'base.html.twig' %}

{% block title %}Edit Recette{% endblock %}

{% block body %}
    <h1>Edit Recette</h1>

    {{ include('Utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path ('app_utilisateur_profil', { id: utilisateur.id }) }}">back to list</a>


{% endblock %}
