{% extends 'base.html.twig' %}

{% block title %}modifier Profil Utilisateur{% endblock %}

{% block body %}

  <h1>modifier Recette</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}