{# templates/gestion_recettes/afficherRecettes.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Recettes{% endblock %}
{% block body %}

{#  les dernieres recettes ajoutees  #}
<h1>Dernières recettes ajoutées</h1>

<ul>
    {% for recipe in latestRecipes %}
        <li>
            <h2>{{ recipe.title }}</h2>
            <p>{{ recipe.description }}</p>
            <p>Date de création : {{ recipe.createdAt|date('d/m/Y') }}</p>
        </li>
    {% else %}
        <li>Aucune recette disponible pour le moment.</li>
    {% endfor %}
</ul>
{% endblock %}

