{% extends 'base.html.twig' %}

{% block title %}Liste des Recettes{% endblock %}

{% block body %}
    <h1>Liste des Recettes</h1>

    {% for saison in saisons %}
        <a href="{{ path('afficherRecetteParSaison' ,  {'saison': saison.value }) }}" value = 'lienSaison'>{{saison.value }}</a>
    {% endfor %}

<div id = "divResultats" ></div>

{# appel ajax  #}

<script>
let lien = document.getElementById('lienSaison');

form.addEventListener ('click',function(){

    console.log("on a modifier la form");
    
    let formData = new FormData (form);

    //obtenir le div qui contiendra la resultat 
    let divResultats = document.getElementById('divResultats');
    

      axios.post ('/gestion/recettes/rechercheAjax', formData)
        .then (Response => {
            console.log (Response.data);

            // pas besoin de parser la reponse car AXIOS le fait par défaut

            // ceci est déjà un array d'objets
            let arrayRecette = Response.data;  

            // vider le div
            divResultats.innerHTML = "";
            
            let ul = document.createElement ('ul');

            for (index in arrayRecette){
                let li = document.createElement ('li');
                li.innerText = arrayRecette[index].titre;
                ul.appendChild (li);



            }
            divResultats.appendChild (ul);
            })
            .catch(error => {
                console.error("Erreur lors de la requête : ", error);
                // divResultats.innerHTML = "<p>Une erreur est survenue lors de la récupération des résultats.</p>";
         
    
{% endblock %}