{% extends 'base.html.twig' %}

{% block title %}AjouterRecette{% endblock %}

{% block body %}

  <h1>Recette</h1>

    

    {{ form_start(form) }}
        {{ form_row(form.titre) }}

        <button type="submit" class="btn">recherche </button>
    {{ form_end(form) }}

{% endblock %}